/** {
  border: 1px solid red !important;
}*/
/*  Main Area */
html,body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

header {
    background-color: #fff;
    border: 0;
}

a {
    color: #fff;
}

.container-fluid {
    height: 100%;
    z-index: -1;
}

.page-title {
    font-family: 'Candal',sans-serif;
    font-size: 45px;
    color: #000;
    margin: 0;
    background-color: #fff;
}

#border-inner {
    text-align: right;
}

#map-row {
    height: 55%;
    background-color: #6a2474;
}

#map-canvas {
    width: 65%;
    height: 100%;
    margin: auto;
}

#map {
    height: 100%;
    padding: 8px;
    border: 8px solid #9ec551;
}

#btn-inner {
    position: fixed;
    display: block;
    top: .5vh;
    left: .5vw;
}

#footer {
    background-color: #d10031;
    height: 38%;
}

#openBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #000;
}

#model-desc {
    margin: 5px 20px 0;
    width: 94%;
}

/*  Drawer Area */
#navbar {
    max-width: 1000px;
}

.menubtn {
/* needs positioning for z-index http://stackoverflow.com/a/10600930/477958 */
    position: relative;
    z-index: 1;
    color: #274a61;
    font-size: 0;
    top: 2px;
    padding: 13px;
    background-image: url(hamburger.png);
    background-position: 50% 50%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.menubtn:hover,.openmenu .menubtn {
    color: #bdd43e;
    background-image: url(hamburger-active.png);
}

/** toggle menu **/
body.openmenu {
    overflow: hidden;
}

#pgcontainer {
    padding: 45px 0;
    margin: 0;
}

.openmenu {
    top: 0;
}

#hamburgermenu {
    height: 100%;
    width: 0;
    background: #373737;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    -webkit-box-shadow: 3px 0 7px rgba(0,0,0,0.55);
    -moz-box-shadow: 3px 0 7px rgba(0,0,0,0.55);
    box-shadow: 3px 0 7px rgba(0,0,0,0.55);
    background-color: #ee7401;
    z-index: 1;
}

#hamburgermenu ul {
    z-index: 101;
    overflow-y: auto;
    overflow-x: hidden;
}

#hamburgermenu ul li a {
    display: block;
    min-width: 130px;
    padding: 18px 8px;
    color: #cdcdcd;
    font-size: 1.45em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

#hamburgermenu li a:hover {
    color: #fff;
    background: #2c2c2c;
}

#header-inner {
    background-color: #fff;
}

#drawer-header {
    margin: 0 0 0 4vw;
    font-size: 2em;
    display: block;
    font-family: 'Gloria Hallelujah',cursive;
    color: #000;
    margin: 0 auto;
    width: 10em;
    background-color: #fff;
}

#search-input {
    top: 0;
    left: 0;
    width: 100%;
    line-height: 15px;
    margin: 0;
    height: 30px;
    font-family: arial,sans-serif;
    font-size: 15px;
    background-color: #fff;
    -webkit-appearance: none;
    box-shadow: none;
    text-indent: 8px;
}

#search-inner {
    background-color: #fff;
}

#drawer-list {
    list-style: none;
    padding: 0;
    margin: 5% 0 0 1%;
    color: #f2f2f2;
    background-color: #ee7401;
}

.drawer-list-single {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
}

.drawer-list-double {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

#drawer-item {
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-size: 20px;
    color: #f2f2e7;
    display: inline-block;
}

.drawer-item-double {
    width: 145px;
    -webkit-column-width: 145px;
/* Chrome, Safari, Opera */
    column-width: 145px;
}

.drawer-item-single {
    width: 340px;
    -webkit-column-width: 340px;
/* Chrome, Safari, Opera */
    column-width: 340px;
}

#drawer-item:hover {
    color: #fff;
    background-color: #a52a2a;

}

#drawer-results {
    display: inline-block;
    color: grey;
    background-color: #fff;
}

#drawer-results-text {
    background-color: #fff;
    display: inline-block;
}

/*  Modal Area */
.modal-dialog {
    margin-top: 20px;
    margin-bottom: 0;
    height: 900px;
}

.modal-content {
    background-color: #29a293;
    height: 100%;
}

.modal-header {
    height: 10%;
}

.modal-body {
    padding: 0 15px;
    height: 80%;
}

.modal-results {
    height: 58%;
}

.modal-footer {
    height: 10%;
    padding: 0;
}

.modal-header,#yelp,#yelp-noresult,#four-square,#fs-noresult {
    color: #fff;
}

#street-view {
    top: 1vh;
    height: 27vh;
}

.tab-content {
    height: 90%;
}

#yelp-pill,#fs-pill,#gallery-pill {
    height: 100%;
}

#pill-yelp,#pill-foursquare,#pill-gallery {
    height: 100%;
}

#yelp,#four-square,#yelp-noresult,#fs-noresult {
    height: 83%;
}

#yelp-status,#fs-status {
    margin: 10px;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#yelp-header,#yelp-status,#fs-status {
    height: 52%;
}

#fs-header {
    height: 40%;
}

#yelp-img-inner,#fs-img-inner {
    height: 17%;
}

#yelp-address {
    margin-top: 10px;
}

#yelp-phone,#yelp-address {
    display: block;
}

#fs-phone {
    display: block;
}

#fsAddress-item {
    display: block;
}

#fs-address-li {
    margin-top: 10px;
    padding: 0;
    height: 55%;
}

#yelp-body-content {
    height: 46%;
}

#yelp-description {
    margin: 10px;
}

#fs-body-content {
    height: 61%;
}

.fs-element-hide {
    display: none;
}

#fs-tips-li {
    height: 134%;
    overflow-y: auto;
}

.fs-element-show {
    display: inherit;
}

#fs-header {
}

#fs-logo {
    margin-top: 20px;
}

#fs-tips-content {
    height: 100%;
}

#body-paragraph {
    margin: 30px 0 10px;
}

.modal-title {
    font-size: 4vmin;
}

.image-modal {
    margin-left: auto;
    margin-right: auto;
}

.modal-style {
    background-color: #fff;
}

#resultLink {
    width: 60px;
}

#firstHeading {
    margin: 0 0 4px;
    padding: 10px;
}

#img-inner {
    max-height: 60px;
    max-width: 60px;
    height: 60px;
    width: 60px;
}

#model-data {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 2%;
    color: #fff;
    position: relative;
    background-color: #0096cf;
}

#modal-btn-close {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.modal-gallery,#gallery,#gallery-header,.carousel,.carousel-inner {
    height: 100%;
}

/*End Drawer CSS*/