* {
	border: 1px solid red !important;
}


html, body {
 height: 100%;
 margin: 0;
 padding: 0;
 background-color: white; }

 #nav-list {
 	list-style-type: none;
 	float: left;
 	color: black;
 	width: 15%;
 	padding: 0;
 }

 #results {
 	color: black;
 }

 #nav-listitem {
 	color: black;
	list-style: none;
	padding: 0;
	margin: 3px 0;
 }
 #nav-listitem:hover {
	  background: aliceblue;

	}

#container {
	color: black;
}

#nav-search {
    top: 0;
    left: 0;
    width: 20%;
    line-height: 15px;
    padding: 6px 10px 6px 0;
    margin: 0;
    height: 33px;
    font-family: arial,sans-serif;
    font-size: 15px;
    background: 0 0;
    color: #111;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    text-indent: 8px;
}

#nav-results {
	color: grey;
    line-height: 15px;
    margin: 0;
}

#nav-flyout {
    font-family: arial,sans-serif;
    line-height: normal;
}

#search {
	width: 25%;
	display: block;
	padding: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #3498db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #009dff);
  background-image: -moz-linear-gradient(top, #000000, #009dff);
  background-image: -ms-linear-gradient(top, #000000, #009dff);
  background-image: -o-linear-gradient(top, #000000, #009dff);
  background-image: linear-gradient(to bottom, #000000, #009dff);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#nav-search1 {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}



.live-search-list li {
color: fff;
list-style: none;
padding: 0;
margin: 5px 0;
}

#tfheader{
	background-color:#c3dfef;
}
#tfnewsearch{
	float:left;
	padding:20px;
}
.tftextinput{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
.tfbutton {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
	clear:both;
}

#list {
	color: white;
}

#input {
	width: 100%;
	float: left;
	color: white;
}

#map {
	float: none;
	padding-left: 20px;
	width: 70%;
	height: 70%;
}
